<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Interactive Data Filtering</h3>
  <form action="/" method="post">
    <input type="text" name="query" placeholder="Describe how you want the data filtered" required />
    <input type="submit" value="Generate names" />
  </form>
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
  {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
  {% endfor %}
  </body>
</body>